@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
body {
  background: #EEEEEE;
  color: black;
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

#mainContainer{
  display: flex;
  width: 50% !important;
  justify-content: space-around;

}

.chatbar {
  bottom: 0;
  border-top: gray 0.2px solid;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 4;
}

.chatbar-username {
}


.navbar {
  background: white;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
}

.navbar-brand {
  margin: auto;
  color: black;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}